<div class="bg">
</div>
<div class="jumbotron">
  <div class="container">
    <h2>
      Custom coloring books that tell your family's story
    </h2>
    <p>
      <a class="btn btn-lg btn-default">Order Now</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 centered">
      <div class="divider">
      </div>
      <p class="text-center">
        Let us tell the story of your family. Help children engage in the rich stories of where they come from with My Family Story
        custom coloring books. They tell the story of your family, one sweet, personalized page at a time.
      </p>
      <div class="divider">
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4 centered text-center">
      placeholder
    </div>
    <div class="col-md-4 centered text-center">
      placeholder
    </div>
    <div class="col-md-4 centered text-center">
      placeholder
    </div>
  </div>
</div>