<div class="container">
   <div class="row">
      <div class="col-md-6">
         <p>ITEM</p>
      </div>
      <div class="col-md-4">
         <p>QUANTITY</p>
      </div>
      <div class="col-md-2">
         <p>PRICE</p>
      </div>   
   </div>
   <div class="row">
      <hr>
   </div>
   <div class="row">
      <div class="col-md-2">
         <img class="img-responsive" src="./assets/images/example.jpg">
      </div>
      <div class="col-md-4 text-left">
         <p>Coloring Book</p>
         <ul>
            <li>Basic Page</li>
            <li>Activity Page</li>
            <li>Portrait Page</li>
         </ul>
         <p>Printed Copies</p>
      </div>
      <div class="col-md-4 text-left">
         <p>num</p>
         <ul>
            <li>10</li>
            <li>3</li>
            <li>1</li>
         </ul>
         <p>50</p>
      </div>
      <div class="col-md-2 text-left">
         <p>num</p>
         <ul>
            <li>$100</li>
            <li>$45</li>
            <li>$20</li>
         </ul>
         <p>$125</p>
      </div>
   </div>
   <div class="row">
      <hr>
   </div>
   <div class="row">
      <div class="col-md-10 text-right">
         <p>Subtotal</p>
      </div>
      <div class="col-md-2 text-left">
         <p>$290</p>
      </div>
   </div>
   <div class="row">
      <hr>
   </div>
</div>