<div class="container orders-view">
  
  <div class="row">
    <div class="col-md-12">
      <p>Archived Orders</p>

      <table class="table orders-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Total pages</th>
            <th>Date</th>
            <th>Transaction ID</th>
            <th>Unarchive</th>
          </tr>
        </thead>
        <tbody orders-table all-orders="allOrders" toggle-switch="unarchive">
        </tbody>
      </table>

    </div>
  </div>

</div>