<div class="container orders-view">
  
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <p class="admin-view-title">Archived Orders</p>
        </div>
        <div class="col-md-6 admin-filters">
          <input class="admin-input" type="text" placeholder="Search orders" ng-model="search.orderfilter" />
        </div>
      </div>

      <table class="table orders-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Total pages</th>
            <th>Date</th>
            <th>Transaction ID</th>
            <th>Unarchive</th>
          </tr>
        </thead>
        <tbody orders-table all-orders="allOrders" toggle-switch="unarchive" order-filter="search">
        </tbody>
      </table>
    </div>
  </div>

</div>