<div class="container" id="nav-main-container">
  <div class="nav-container">
    <div class="navDiv1">
      <span class="navDiv1Item">
        <a class="underline-link" ui-sref="home">HOME</a>
      </span>
      <span class="navDiv1Item">
        <a class="underline-link" ui-sref="start">ORDER</a>
      </span>
      <span class="navDiv1Item">
        <a class="underline-link" ui-sref="about">ABOUT</a>
      </span>
      <div id="navDrop">
        <div class="navBurger">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="navDiv2">
      <a ui-sref="home"><img src="./assets/images/logo_nav.png" /></a>
    </div>
    <div class="navDiv3">
      <a class="underline-link" ng-hide="ctrl.user" ng-click="ctrl.login()">
            Log In
      </a>
      <a ui-sref="cart" class="cart-icon" ng-show="ctrl.user">
        <img src="/assets/images/shopping-cart.svg" type="image/svg+xml" />
      </a>
      <a class="underline-link" ng-show="ctrl.user" ng-click="ctrl.logout()">
            Log Out
      </a>
    </div>
  </div>
</div>