<div class="container orders-view">
  
  <div class="row">
    <div class="col-md-12">
      <div class="sub-nav">
        <div>Details for Order {{abbreviatedId}}</div>
      </div>
    </div>
  </div>

  <div class="row user-info">
    <div class="col-md-4">
      User/contact info <br />
      {{order.user.firstname}} {{order.user.lastname}} <br />
      {{order.user.email}} <br />
      {{order.user.phone}} <br />
      {{order.user.dateregistered | date:"short"}} <br />
    </div>
    <div class="col-md-4">
      payment info
    </div>
    <div class="col-md-4">
      shipping info
    </div>
  </div>

</div>