<div class="main-gray-bg">
  <div class="container">
    <div class="row" ng-if="userBooks.length !== 0">
      <div class="col-md-12 text-center project-header" >
        <button class="btn btn-blue" ng-click="openProjectModal()">View All Projects</button>
      </div>
    </div>
    <div class="row" ng-if="userBooks.length === 0">
      <div class="col-md-6 col-md-offset-3">
        <h3>Every great story begins with a title.</h3>
        <div class="row">
          <form>
            <div class="row">
              <div class="col-md-12">
                <input class="form-control" id="bookTitle" placeholder="Name Your Story" ng-model="bookTitle">
              </div>
            </div>
            <div class="row pad-top-sm">
              <div class="col-md-12">
                <button class="btn btn-blue" ng-click="addNewPage()">Continue</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--<h6 bookbuilder-Dir class="text-center descrowtrigger" ><span id="bookbuilderHideSpan">Hide</span> Page Descriptions</h6>
     <h6 bookbuilder-Dir class="text-center descrowtrigger" ng-click="toggleTopUI()"><span ng-if="topVis">Hide</span><span ng-if="!topVis">Review</span> Page Descriptions</h6> 

    <div class="row descrow" ng-if="topVis" >
        <div class="flex-box">
          <div class="flexy">
              <img src="./../assets/images/basic-page.jpg" />
              <h4>BASIC PAGE</h4>
              <h5>One page of text and a corresponding custom drawing.</h5>
              <h4>$10.00</h4>
          </div>
          <div class="flexy">
              <img src="./../assets/images/activity-page.jpg" />
              <h4>ACTIVITY PAGE</h4>
              <h5>Incorporate a small activity onto the page! Choose a crossword, connect-the-dots, or a maze and submit your text.</h5>
              <h4>$15.00</h4>
          </div>
          <div class="flexy">
              <img src="./../assets/images/portrait-page.jpg" />
              <h4>PORTRAIT PAGE</h4>
              <h5>Upload a portrait of your relative and it will be turned into a custom line drawing (drawings of faces on basic pages will be more generic).</h5>
              <h4>$20.00</h4>
          </div>
        </div>
    </div>-->
    <div class="row">
      <div class="col-md-12">
        <h2>{{currentBook.title}}</h2>
        <div ng-repeat="page in pages track by $index">
          <book-page class="row" page="page" index="$index"></book-page>
        </div>
      </div>
    </div>
  </div>
   

  <div class="container">
    <div class="row" ng-if="pages.length > 0">
        <div class="col-md-12 text-right">
          <button class="btn btn-blue" id="addPage" ng-click="addNewPage()">+ Page</button>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 bottom-buttons">
        <button class="btn btn-yellow left-btn" ng-click="saveBook()">SAVE</button>
        <button class="btn btn-green right-btn" ng-click="sendToCart()">SEND TO CART</button>
      </div>
    </div>
  </div>
</div>
