<div class="container custom-page">
   <div class="row">
      <h5>PAGE {{position}}</h5>
      <img class="delete-box" src="./assets/images/remove.png" ng-click="removePage()">
   </div>
   <div class="row main-body">
      <div class="col-md-9">
         <form>
            <div class="form-group">
               <label for="textForPage">Text for this Page</label>
               <textarea rows="4" class="form-control" id="textForPage"></textarea>
            </div>
            <div class="form-group">
               <label for="textSimple" class="tiny-text">Would you like this text edited to be simpler or more kid friendly?</label>
               <select class="select-box" id="textSimple">
                  <option>Yes</option>
                  <option>No</option>
               </select>
            </div>
         </form>
      </div>
      <div class="col-md-3">
         <form>
            <div class="form-group">
               <label for="typeOfPage">Type of Page</label><br>
               <select class="select-box" id="typeOfPage" ng-options="type.value as type.name for type in pageTypes" ng-model="selectedType"></select>
            </div>
            <div class="form-group" ng-if="selectedType=='Activity'">
               <label for="typeOfActivity">Type of Activity</label>
               <select class="select-box" id="typeOfActivity" ng-options="activity.value as activity.name for activity in activityTypes" ng-model="$parent.selectAct">
               </select>
            </div>
            <div class="form-group" ng-if="selectedType==='Activity' && selectAct=='Custom'">
               <label for="customActivity">Custom Description</label>
               <input type="text" class="form-control" id="customActivity">
            </div>
            <div class="form-group" ng-if="selectedType==='Portrait'">
               <label for="">Upload a Photo</label>
               <button class="btn btn-success">UPLOAD</button>
            </div>
         </form>
      </div>
   </div>
</div>