.main-gray-bg {
   background-color: #ddd;
   min-height: 100vh;
   padding-bottom: 100px;
}
.page-anime{
  animation: 0.2s pageanime 1 forwards;
}
@keyframes pageanime{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  50%{
    transform: scale(1.03333);


  }
  100%{
    transform: scale(0.5);
    opacity: 0;
  }
}

.custom-page {
   margin-top: 15px;
  //  transform: scale(0.2);
  //  transition: all ease-in-out 0.4s;

   h5{
      font-weight: 800;
      padding-left: 15px;
      margin-bottom: 0;
   }
   .main-body{
      background-color: #fff;
      padding: 20px 10px 10px 10px;
   }
   .tiny-text{
      font-size: 12px;
      width: 100%;
   }
   .select-box{
      font-size: 14px;
      font-weight: 800;
      padding: 1px 0 0 4px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
   }
   .delete-box{
      position: relative;
      float: right;
      top: 33px;
      right: 25px;
      width: 10px;
      z-index: 1;
   }
}
.pageinitial{
  animation: 0.2s pageinitial 1 forwards;
}
@keyframes pageinitial{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    transform: scale(1.03333);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}


.flex-box{
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
}

.flexy{
   flex: 0 1 calc(100%/3);
   padding: 20px;
   img {
      width: 100%;
   }
}
.descrow{
  height: 490px;
  overflow: hidden;
  transition: height 800ms ease-in-out;
}
.descrow.trigger{
  height: 0px;
}
.descrow.triggersetup{
  height: 0;
}
