.cart-table {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  .table-head {
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    border-bottom: 2px solid #444;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .table-row {
    display: inline-flex;
    flex-direction: row;
    // padding: 10px;
    justify-content: space-around;
    align-items: center;
    min-height: 30px;
  }
  .table-cell {
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 100%;
    width: 33%;
  }

  .table-body {
    display: flex;
    flex-direction: column;
    
    .book-title {
      display: flex;
      width: 100%;
      margin-top: 10px;
      justify-content: space-between;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 18px;
      font-weight: 700;
      .remove-item {
        font-size: 14px;
      }
    }
    .book-details {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      padding-left: 30px;
    }
    .page-type {
      display: flex;
      justify-content: flex-start;
    }
    .prints {
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #CCC;
      .prints-title {
        margin-left: -30px;
      }
      
    }
    
  }

  .cart-total {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
  }

  .item-column {
    width: 80%;
    min-width: 140px;
  }

  .price-column {
    justify-content: flex-end;
    width:20%;
    min-width: 120px;
    padding-right: 30px;
  }

  .checkout {
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
  }
  
}