.cartContainer{
  margin-top: 50px;
  .firstCartRow{
    height: 30px;
    border-bottom: solid 2px black;
  }
  .cartProductData{
    margin-top: 20px;
  }
}
.cartQtyRow{
  text-align: center;
}
.cartPriceRow{
  text-align: right;
  padding-right: 160px;
}
.cartItemRow{
  height: 200px;
  background: white;
  .cartItemImg{
    float: left;
    img{
      height: 160px;
      width: 160px;
    }
  }
  .cartItemDesc{
    float: left;
    margin-left: 20px;
    p{
      font-size: 13px;
    }
  }
}
.cartQtyDiv{
  height: 200px;
  text-align: center;
  p{
    font-size: 13px;
  }
}
.cartPriceDiv{
  height: 200px;
  text-align: right;
  p{
    font-size: 13px;
    margin-right: 160px;
  }
}
.cartIndentDesc{
  margin-left: 20px;
}
#cartPrintedCopies{
  margin-top: 25px;
}
.cartSubDiv{
  height: 50px;
  width: 100%;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  p{
    float: right;
    margin: 14px 30px 0 0;
    font-size: 14px;
  }
  p:first-child{
    margin-right: 160px;
  }
}
.cartCheckoutBtnDiv{
  height: 40px;
  text-align: right;
  margin: 40px 0 0 0;
  button{
    width: 150px;
    height: 100%;
    font-size: 20px;
  }
}
@media only(max-width: 991px){
  .cartItemImg{
    display:none;
  }
  #cartGoAway{
    margin-top: -18px;
  }
}
@media only(max-width: 768px){
  .cartContainer{
    display:none;
  }
  #cartMobileSpan{
    background: black;
    display: block;
    width: 100%;
    height: 1px;
    }
  .cartMobileHead{
    height: 50px;
    width: 100%;
    border-bottom: solid 2px black;
    margin-top: 100px;
    div:first-child{
      float: left;
      text-align: left;
      width: calc(100%/3);
      height: 50px;
    }
    div:nth-child(2){
      float: left;
      text-align: center;
      width: calc(100%/3);
      height: 50px;
    }
    div:last-child{
      text-align: right;
      float: left;
      width: calc(100%/3);
      height: 50px;
    }
  }
  .cartMobileInfo{
    // background: blue;
    height: 200px;
    width: 100%;
    div:first-child{
      float: left;
      width: calc(100%/3);
      height: 100px;
      div{
        width: 100%;
        text-align: left;
        p{
          font-size: 15px;
        }
      }
      @media only(max-width: 366px){
        div{
          p{
            font-size: 12px;
          }
        }
      }
    }
    div:nth-child(2){
      float: left;
      text-align: center;
      width: calc(100%/3);
      height: 100px;
      div{
        width: 100%;
        text-align: center;
        p{
          font-size: 15px;
        }
      }
      @media only(max-width: 366px){
        div{
          p{
            font-size: 12px;
          }
        }
      }
    }
    div:last-child{
      text-align: right;
      float: left;
      width: calc(100%/3);
      height: 100px;
      div{
        width: 100%;
        text-align: right;
        p{
          font-size: 15px;
        }
      }
      @media only(max-width: 366px){
        div{
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
  .cartSubDivMobile{
    height: 50px;
    width: 100%;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    button{
      margin-top: 6px;
      float: right;
    }
    p{
      float: right;
      margin: 14px 30px 0 0;
      font-size: 14px;
    }
    p:first-child{
      margin-right: 160px;
    }
  }
}
@media only(min-width: 769px){
  .cartContainerMobile{
    display:none;
  }
}
