.bg {
  background: url('../assets/images/jumbotron.jpg');
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  z-index: -1;
}

.jumbotron {
  height: 500px;
  color: white;
  background: transparent;
  .bg-image {

  }
}

.divider {
  margin: auto;
  height: 3px;
  width: 30%;
  background-color: black;
  border-radius: 2px;
}