body {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 16px;
}

.title {
  font-size: 22px;
  text-transform: uppercase;
}

.row.text-center > div {
    display: inline-block;
    float: none;
}