#startMainContainer {  
  margin-top: 40px;
  h1 {
    margin-bottom: 60px;
  }
  p {
    margin: 0;
    padding-right: 250px;
    font-size: 14px;
  }
  h3 {
    text-transform: uppercase;
  }
  #startdiv1 {
    text-align: right;
    margin-bottom: 40px;
    padding-right: 40px;
    img {
      height: 190px;
      width: 190px;
      border-radius: 3px;
    }

    @media (max-width: 991px) {
      text-align: center;
      margin: 0;
      img {
        margin: 0 auto;
      }
    }
  }

  .startBtnDiv {
    padding: 20px;
    text-align: center;
  }
}

@media (max-width: 991px) {
  #startdiv2 {
    text-align: center;
    margin-bottom: 50px;
  }
  #startMainContainer {
    p {
      padding-right: 0px;
    }
  }
}
