body {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 16px;
}

.view-wrapper {
  padding-top: 110px;
}

.title {
  font-size: 22px;
  text-transform: uppercase;
}

.row.text-center > div {
    display: inline-block;
    float: none;
}

// WHITE BUTTON
.btn-white {
  color: white;
  font-family: 'Grand Hotel', cursive;
  font-weight: 400;
  font-size: 28px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.15s linear, color 0.15s linear;
}

.btn-white:hover {
  color: white;
  background-color: rgba(255,255,255,0.15);
}

// BlUE BUTTON
.btn-blue, .btn-blue:focus {
  color: #6fb3db;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid #6fb3db;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.15s linear, color 0.15s linear;
}

.btn-blue:hover {
  color: white;
  background-color: #6fb3db;
}

// GREEN BUTTON
.btn-green, .btn-green:focus {
  color: #4eb14d;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid #4eb14d;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.15s linear, color 0.15s linear;
}

.btn-green:hover {
  color: white;
  background-color: #4eb14d;
}

// YELLOW BUTTON
.btn-yellow, .btn-yellow:focus {
  color: #F0A43B;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid #F0A43B;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.15s linear, color 0.15s linear;
}

.btn-yellow:hover {
  color: white;
  background-color: #F0A43B;
}

// RED BUTTON
.btn-red, .btn-red:focus {
  color: #AF4D4D;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid #AF4D4D;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.15s linear, color 0.15s linear;
}

.btn-red:hover {
  color: white;
  background-color: #AF4D4D;
}

a, a:hover, a:active, a:focus {
  cursor: pointer;
  position: relative;
  color: black;
  text-decoration: none;
}

a.underline-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #444;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

a.underline-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a.blue-link {
  color: cornflowerblue;
}
a.blue-link:hover {
  cursor: pointer;
  color: royalblue;
}
a.blue-link:before, a.blue-link:hover:before {
  visibility: hidden;
}

/////// UPLOAD INPUT STYLING

.s3-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.s3-input + label {
  color: #6fb3db;
  font-size: 14px;
  margin: 2px;
  display: inline-block;
  height: 30px;
  padding: 0 15px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #6fb3db;
  border-radius: 5px;
  transition: all .15s linear;
}

.s3-input + label:hover,
.s3-input:focus + label {
  color: white;
  background-color: #6fb3db;
  border: 2px solid #6fb3db;
  outline: 0; 
}

