
<div class="container">
  <div class="row text-center">
    <div class="col-md-3">
      <img class="img-responsive" src="./assets/images/about-1.jpg">
    </div>
    <div class="col-md-3">
      <img class="img-responsive" src="./assets/images/about-2.jpg">
    </div>
    <div class="col-md-3">
      <img class="img-responsive" src="./assets/images/about-3.jpg">
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <hr>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <p>Hi there! I'm Melissa. I have a passion for all things design and I love kids and babies. I don't have any of my own, but my nieces and nephews are my world. There's nothing better than their pudgy little hands with a crayon in them, except watching them learn the stories of where they come from - the stories that make up our family and who they are.<br>That's why I do this. And that's why I love it.</p>
    </div>
  </div>
</div>