
<div class="container">
  <div class="row">
    <div class="col-md-6 text-right">
      <h2>Placeholder About Header</h2>
      <p>
        Placeholder text about the artist. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris luctus scelerisque dui eu consectetur. Sed eu cursus quam. Nam facilisis massa nec ipsum mattis, vitae cursus lacus maximus. Nunc quis sollicitudin quam. Suspendisse elit metus, suscipit imperdiet mi non, ultricies rutrum ex. Quisque quis ex libero.
      </p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive center-block" src="./../../assets/images/example.jpg"/>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">Social Assets Placeholder</p>
    </div>
  </div>
</div>