<h1>hello</h1>
<div ng-controller="modalController as $ctrl" class="modal-demo">
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">I'm a modal</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <h1>Modal body</h1>
    </div>
    <div>
      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Ok</button>
      <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </script>
  <button type="button" class="btn btn-default" ng-click="$ctrl.open('sm')">open modal</button>
</div>
