<div id="credit-card-modal" class="modal-dialog">

  <div>
    <form>
        <h2>Card Info</h2>
        <br />
        <section class='form-group'>
          <p>Amount to charge: {{cartTotal | currency }}</p>
        </section>
        <section class='form-group'>
            <label>Name on card:</label>
            <input
            type="text"
            name="name"
            ng-model="payment.card.name"
            required>
        </section>
        <section class='form-group'>
            <label>Card number:</label>
            <input
            ng-model="payment.card.number"
            type="text"
            placeholder="use one of Stripe's test card numbers"
            required />
        </section>
        <section class='form-group'>
            <label>CVC:</label>
            <input
            ng-model="payment.card.cvc"
            placeholder='random CVC number'
            type="text"
            required>
        </section>

        <div>
          Expiration date:
        </div>
        <section class='form-group'>
            <select
            ng-model="payment.card.exp_month"
            required >
              <option value="">Month</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
          </select>
        </section>

        <section class='form-group'>
          <select name="year" id="year" ng-model="payment.card.exp_year" ng-change="validateExpiry(model.month, model.year)" >
            <option value="">Year</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
          </select>

        </section>
    </form>
  </div>



  <div>
    <form name="shipInfoForm">
      <h2>Shipping</h2>
        <div>
            <label for="name">Name</label>
            <input class="" type="text" name="name" ng-model="ship_info.ship_name">
        </div>
        <div>
            <label for="address1">Address</label>
            <input class="" type="text" name="address1" ng-model="ship_info.ship_address1">
        </div>
        <div>
            <label for="address2">Address 2</label>
            <input class="" type="text" name="address2" ng-model="ship_info.ship_address2">
        </div>
        <div>
            <label for="city">City</label>
            <input class="" type="text" name="city"  ng-model="ship_info.ship_city">
        </div>
        <div>
            <label for="state">State</label>
            <input class="" type="text" name="state"  ng-model="ship_info.ship_state">
        </div>
        <div>
            <label for="zip">Zip</label>
            <input class="" type="text" name="zip"  ng-model="ship_info.ship_zip">
        </div>
        <div>
            <label for="country">Country</label>
            <input class="" type="text" name="country"  ng-model="ship_info.ship_country">
        </div>
    </form>
  </div>
  <br />

  <div>
    <button class="btn btn-red" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-blue" type="button" ng-click="charge(payment); putShipAddress()">Confirm</button>
  </div>

</div>
