<div class="modal-header">
  <h2 class="modal-title text-center"><span ng-if="userBooks.length < 1">Create Your First Project</span><span ng-if="userBooks.length > 0">Select a Project</span></h2>
</div>
<div class="modal-body">
  <!--<div class="row" ng-if="userBooks.length < 1">
    <form>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <label for="bookTitle"><h4>Book Title</h4></label>
          <input class="form-control" id="bookTitle" placeholder="Enter Title Here" ng-model="bookTitle">
        </div>
      </div>
      <div class="row text-center pad-top-sm">
        <div class="col-md-6">
          <s3-uploader max-width="1200" max-height="1200" default-text="Upload Photo" success-text="Photo Uploaded!" s3-Url></s3-uploader>
        </div>
        <div class="col-md-6">
          <button ng-click="checkScope()"></button>
          <img src=""/>
        </div>
      </div>
    </form>
  </div>-->
  <div class="book-project-holder" ng-if="userBooks.length > 0">
    <div ng-repeat="book in userBooks track by $index">
      <div ng-click="openDeleteBookModal($index)">
        <img class="delete-book-box" src="./assets/images/remove.png"/>
      </div>
      <div class="project" ng-click="openBook(book)">
          <h5 class="centered">{{book.title}}</h5>
      </div>
    </div>
  </div>
  <div class="text-center">
    <h5> Or Start a New Project</h5>
  </div>
  <div class="row">
    <form>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <input type="text" class="form-control" placeholder="Give Your Project a Title" ng-model="newBookTitle"/>
          <button class="btn btn-blue" ng-click="createNewBook()">ADD NEW PROJECT</button>
        </div>
      </div>
      <div class="row text-center pad-top-sm">
        <!--<div class="col-md-6">
          <s3-uploader max-width="1200" max-height="1200" default-text="Upload Photo" success-text="Photo Uploaded!" s3-Url></s3-uploader>
        </div>-->
      </div>
    </form>
  </div>
</div> <!--end modal body-->
<div class="modal-footer">
  <button class="btn btn-yellow" type="button" ng-click="cancel()">CANCEL</button>
</div>